$green:  rgb(40, 216, 40);
$red: #ff385c;

@mixin flex(){
    display: flex;
    align-items: center;
}
$bg-color: rgba(253, 251, 250, 0.95);

.cart-item-card-container{
    @include flex();
    margin: 5px auto;
    width: 55%;
    height: 200px;
    background-color: $bg-color;
    padding: 10px 1%;
    border-radius: 10px;

    img{
        width: 40%;
        border-radius: 10px;
        height: 100%;
        margin-right: 1%;
    }

    .cart-item-card-desc-container{
        @include flex();
        flex-direction: column;
        width: 60%;
        margin-left: 1%;
        height: 100%;

        .cart-item-name{
            font-weight: 500;
            font-size: 20px;
            text-transform: uppercase;
            text-align: center;

            &-price{
                font-size: 20px;
                margin: 5px auto;
                margin-top: 25px;
                padding: 2px 2%;
                color: $green;
                width: 90%;
            }

            &-prices{
                font-size: 20px;
                padding: 2px 2%;
                width: 90%;
                margin: 5px auto;
            }
        }
    }
}


@mixin flex-buy-product(){
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-product-price-2{
    @include flex-buy-product();
    flex-direction: column;
    margin: 5px auto;
    margin-top: 10px;
    padding: 5px 2%;
    border-radius: 10px;
    cursor: context-menu;
    transition: 0.2s;
    width: 90%;
    background-color: $red;
    height: 50px;

    &:hover{
        background-color: #e6405e;
    }

    .tag-2{
        color: white;
        letter-spacing: 1px;
        font-weight: 400;
        font-size: 19px;
    }
}