$background: rgba(253, 251, 250, 0.95);
$checkoutbg: #ff385c;
$checkout_hover: #e74966;
$green:  rgb(40, 216, 40);

@mixin flex(){
    display: flex;
    align-items: center;
    justify-content: center;
}

.fullproduct-container{
    position: relative;
    width: 65%;
    padding: 20px 1%;
    background-color: $background;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

    .full-product-ItemName{
        text-align: center;
        font-weight: 500;
        font-size: 25px;
        padding: 10px 2%;
    }

    .full-product-image-container{
        @include flex();
        padding: 10px 1%;
        height: 350px;
        position: relative;

        .angular-icon-container{
            position: absolute;
            top: 47%;
            left: 4%;
        }

        .angular-icon-container-2{
            position: absolute;
            top: 50%;
            right: 4%;
        }
    }

    .full-product-Description{
        color: grey;
        font-size: 18px;
        padding: 10px 3%;
    }

    img{
        width: 65%;
        image-resolution: 1025px;
        height: 100%;
        border-radius: 10px;
    }

    .full-product-button-container{
        display: flex;
        justify-content: space-around;
        padding: 5px 0%;
    }

    .full-product-seller-name{
        display: flex;
        align-items: center;
        margin: 10px auto;
        padding: 1px 3%;
        &-icon{
            margin: 0px 2%;
            margin-right: 1%;
        }

        &-fullname{
            font-size: 18px;
            font-weight: 400;
            color: rgb(65, 63, 63);
        }

        &-tag{
            font-size: 23px;
            font-weight: 600px;
        }
    }

    .full-product-price{
        width: 43%;
        @include flex();
        flex-direction: column;
        background-color: $green;
        margin: 2px;
        padding: 7px 2%;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.2s;

        &:hover{
            background-color: rgb(52, 231, 52);
        }

        &-tag{
            font-weight: 200;
            font-size: 19px;
            color: rgb(243, 232, 232);
            margin: 2px auto;
        }

        .tag{
            color: white;
            letter-spacing: 1px;
            font-weight: 400;
            font-size: 22px;
        }

    }

    .full-product-wishlist{
        background-color: $checkoutbg;
        transition: 0.2s;

        &:hover{
            background-color: $checkout_hover;
        }
    }

}

.user-icon{
    font-size: 42px;
}

.angular-icon{
    color: grey;
    font-size: 35px;
}

.review-input-container{
    @include flex();
    padding: 10px 3%;
    margin: 10px auto;
    margin-top: 10px;

    input{
        display: block;
        width: 80%;
        font-size: 14px;
        padding: 15px 2.5%;
        margin: 0px 2%;
        border: none;
        background-color: rgb(211, 211, 211);
        border-radius: 10px;

        &:focus{
            outline: none;
            border: 2.55px solid $green;
        }
    }

    button{
        display: block;
        width: 15%;
        padding: 17px 4%;
        background-color: $green;
        color: white;
        border-radius: 3px;
        border: none;

        @keyframes click{
            from{
                transform: scale(0.96);
            }
            to{
                transform: scale(1);
            }
        }
        
        &:focus{
            animation-name: click;
            animation-duration: 0.5s;
            outline: none;
        }
    }
}

.chat-area{
    @include flex();
    justify-content: flex-start;
    flex-direction: column;
    margin: 10px auto;

    &-header{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 5px auto;
        width: 95%;
        .chat-area-pic{
            margin-right: 2%;
        }
        
        .chat-area-name{
            font-size: 20px;
            font-weight: 400;
        }
    }

    footer{
        width:80%;
        margin: 5px auto;
        background-color: rgb(172, 171, 171);
        border-radius: 10px;
        padding: 10px 3%;
    }

    .chat-area-reply{
        background-color: #0A7CFF;
    }
}

.question-answer{
    margin: 10px auto;
    border-top: 1px solid black;
    padding: 10px 4%;
    margin-top: 25px;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 500;
}