.side-nav-container{
    background-color: rgba(253, 252, 250, 0.2);
    width: 4.5%;
    position: fixed;
    top: 150px;
    left: 1%;
    border-radius: 30px;
    height: 520px;
    z-index: 2;
}

.sidebar-icon{
    color: #24ffa4;
    font-size: 34px;
    transition: 0.3s;
}

.side-nav-icon-container{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 53px auto;
}

.side-nav-icon-container:nth-child(5):hover::after{
    padding: 5px 30%;
}

.sidebar-icon:hover{
    transform: scale(1.2);
}

.cart-notifications{
    position: absolute;
    padding: 0px 10%;
    border-radius: 50%;
    top: 0px;
    right: 2%;
    font-weight: 400;
    font-size: 14px;
    color: white;
    background-color: rgb(241, 74, 44);
}