$green:  rgb(40, 216, 40);

.product-cards{
    position: relative;
    border-radius: 10px;
    width: 60%;
    padding: 10px 0.5%;
    height: 350px;
    background-color: rgba(253, 251, 250, 0.95);
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    transition: background 0.2s;
}
/* 
.product-cards:hover{
    background-color: rgba(250, 252, 251, 0.9);
} */

.product-card-img{
    margin: auto 3%;
    margin-left: 0.5%;
    width: 55%;
    border-radius: 13px;
    height: 100%;
}

.product-description-container{
    display: flex;
    flex-direction: column; 
    width: 60%;
}

.product-home-title{
    text-align: center;
    font-weight: 600;
    margin: 20px auto;
    font-size: 25px;
    text-transform: uppercase;
}

.product-home-desc{
    font-size: 20px;
    height: 138px;
    overflow: hidden;
}

.heart-icon{
    position: absolute;
    top: 5px;
    right: 1%;
    color: grey;
    font-size: 30px;
    padding: 5px 1%;
    transition: 0.2s;
    cursor: context-menu;
    z-index: 20;
}

.heart-icon:hover{
    color: #ff385c !important;
}

.Product-home-price{
    font-size: 20px;
    font-weight: 400;
    padding: 11px 5%;
    background-color: rgb(64, 204, 59);
    color: white;
    margin: 3px auto;
    margin-top: 50px;
    text-align: start;
    width: 80%;
}

.wishlisted{
    color: #ff385c;
}

@mixin flex(){
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-product-price{
    width: 43%;
    @include flex();
    flex-direction: column;
    background-color: $green;
    margin: 10px auto;
    padding: 5px 2%;
    margin-top: 60px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    width: 90%;
    
    &:hover{
        background-color: rgb(52, 231, 52);
    }

    &-tag{
        font-weight: 200;
        font-size: 16px;
        color: rgb(243, 232, 232);
        margin: 2px auto;
    }

    .tag{
        color: white;
        letter-spacing: 1px;
        font-weight: 400;
        font-size: 19px;
    }

}