.product-cards{
    position: relative;
    width: 65%;
    padding: 10px 2%;
    height: 400px;
    background-color: rgba(250, 252, 251, 0.8);
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    transition: background 0.2s;
}
/* 
.product-cards:hover{
    background-color: rgba(250, 252, 251, 0.9);
} */

.product-card-img{
    margin: auto 3%;
    margin-left: 1%;
    width: 50%;
    border-radius: 13px;
    height: 95%;
}

.product-description-container{
    display: flex;
    flex-direction: column; 
}

.product-home-title{
    text-align: center;
    font-weight: 600;
    margin: 20px auto;
    font-size: 25px;
    text-transform: uppercase;
}

.product-home-desc{
    font-size: 20px;
    height: 180px;
    overflow: hidden;
}

.heart-icon{
    position: absolute;
    top: 5px;
    right: 1%;
    color: grey;
    font-size: 30px;
    padding: 5px 1%;
    transition: 0.2s;
    cursor: context-menu;
}

.heart-icon:hover{
    color: #ff385c !important;
}

.Product-home-price{
    font-size: 20px;
    font-weight: 400;
    padding: 11px 5%;
    background-color: rgb(64, 204, 59);
    color: white;
    margin: 4px auto;
    text-align: start;
    width: 90%;
    transition: 0.2s;
}

.Product-home-price:hover{
    background-color: rgb(238, 77, 71);
}

.product-home-contact{
    width: 90%;
    padding: 11px 5%;
    font-size: 20px;
    font-weight: 400;
    margin: 4px auto;
    color: white;
    background-color: rgb(67, 147, 194);
    transition: 0.2s;
}

.product-home-contact:hover{
    background-color: rgb(79, 169, 221);
}

.Product-home-price::after, .product-home-contact::after{
    content: '*';
}